#################################
# APP
#################################

APP_NAME="ERP Bibit Net"
APP_ENV="development" #development,production,test,
APP_URL="http://localhost:3000"

#################################
# DATABASE
#################################

DATABASE_URL="postgresql://erp_bibit:PASSWORD_ANDA@localhost:5432/erp_bibit_net"
PRISMA_LOG_LEVEL=error #query,info,warn,error

#################################
# AUTH
#################################

AUTH_SECRET="ganti-dengan-secret-panjang-minimal-32-karakter"
AUTH_EXPIRES="7d"