#################################
# APP
#################################

APP_NAME="ERP Bibit Net"
APP_ENV="development"
APP_URL="http://localhost:3000"

#################################
# DATABASE
#################################

DATABASE_URL="postgresql://erp_bibit:PASSWORD_ANDA@localhost:5432/erp_bibit_net"

#################################
# AUTH
#################################

AUTH_SECRET="ganti-dengan-secret-panjang-minimal-32-karakter"
AUTH_EXPIRES="7d"